<!-- NAVBAR-->
<nav>
   <span routerLink="/" class="logo">Manager App</span>
   <div class="links">
      <a href="#">Application</a>
      <a href="#">Infos</a>
      <a href="#">Epita</a>
   </div>
   <div class="login">
      <a routerLink="/login">Login</a>
   </div>
</nav>

<!-- SIDEBAR + BOARD-->
<div class="block">
   <!-- SIDEBAR -->
   <aside>
      <!-- <app-project></app-project>-->
      <app-project></app-project>
   </aside>

   <!-- BOARD PROJECT-->
   <div class="board">
      <!-- <app-board></app-board> -->
      <router-outlet></router-outlet>
   </div>

</div>